# Pandas Series


Series = One single column of Tabular Data/ DataFrame

In [1]:
import pandas as pd

## Series  - I: Creating Series
```
1. Making list as series
    a. Making list as series
    b. Making series of specific value at index 0-5
    c. Making series through list comprehension
    
2. Making dictionary as series
```

In [2]:
# 1. Making List as seires
## a. Making list as series
lst = [2, 67, 34, 32]
print(pd.Series(lst), "\n")

## b. Making series of specific value at index 0-5
print(pd.Series(5, index=[0, 1 , 2, 3, 4]), "\n")

## c. Making series through list comprehension
print(pd.Series([num*10 for num in range(5)]))

# 2. Maknig dictionary as series
myphonebook = {"John" : "555-555-5555",
               "Alice" : "123-236-5263",
               "Bob" : "963-852-1470"}
print(pd.Series(myphonebook))

0     2
1    67
2    34
3    32
dtype: int64

0    5
1    5
2    5
3    5
4    5
dtype: int64

0     0
1    10
2    20
3    30
4    40
dtype: int64
John     555-555-5555
Alice    123-236-5263
Bob      963-852-1470
dtype: object

## Series  - II: To Read .csv file.

In [3]:
# To Read .csv file.
s = pd.read_csv('Stock.csv',
            # header=None,       # To make it none header
            squeeze=True,      # To make it Series object
            usecols=['Open'],  # To choose specific column 
            #sep=","            # To make separator
               )
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0     16.770000
1     17.100000
2     17.059999
3     16.900000
4     16.969999
5     16.240000
6     16.389999
7     16.549999
8     15.990000
9     15.770000
10    16.389999
11    16.330000
12    16.340000
13    16.240000
14    16.469999
15    16.790001
16    17.100000
17    17.299999
18    16.299999
19    16.459999
Name: Open, dtype: float64

## Series  - III: Series Attributes & Methods
```
1. Series Attributes & Methods
    a. Properties
    b. Value/Index of Min/Max
    c. Statistical Routiens
 
2. Starting/end values
3. Postfix/prefix on index
```

In [4]:
# 1. Series Attributes & Methods
## a. Properties
print("Index: ", s.index)
print("Values: ", s.values, '\n')
print("dtype: ", s.dtype)
print("Ndim: ", s.ndim)
print("Size: ", s.size)
print("Shape: ", s.is_unique)
print("Monotonic deacrease: ", s.is_monotonic_increasing)
print("Shape: ", s.shape, '\n')

## b. Value/Index of Min/Max
print("Index of max value 'idxmax()': ",s.idxmax())   # At which index max value occcur
print("Max: ",max(s))
print("Index of min value 'idxmin()': ", s.idxmin())   # At which index min value occcur
print("Min: ", min(s), '\n')

## c. Statistical Routiens
print("Sum: " , s.sum())
print("Mean: " , s.mean())
print("Product: " , s.product())
print("Standard Devaition: " , s.std())
print("\nDescribe: ", s.describe(), '\n')

Index:  RangeIndex(start=0, stop=20, step=1)
Values:  [16.77     17.1      17.059999 16.9      16.969999 16.24     16.389999
 16.549999 15.99     15.77     16.389999 16.33     16.34     16.24
 16.469999 16.790001 17.1      17.299999 16.299999 16.459999]

dtype:  float64
Ndim:  1
Size:  20
Shape:  False
Monotonic deacrease:  False
Shape:  (20,)

Index of max value 'idxmax()':  17
Max:  17.299999
Index of min value 'idxmin()':  9
Min:  15.77

Sum:  331.459992
Mean:  16.572999600000003
Product:  2.4295555370482454e+24
Standard Devaition:  0.4076130110008758

Describe:  count    20.000000
mean     16.573000
std       0.407613
min      15.770000
25%      16.322500
50%      16.464999
75%      16.917500
max      17.299999
Name: Open, dtype: float64

In [5]:
## 2. Starting/end values
print(s.head(5), '\n')   # Brand new series
print(s.tail(7), '\n')

0    16.770000
1    17.100000
2    17.059999
3    16.900000
4    16.969999
Name: Open, dtype: float64

13    16.240000
14    16.469999
15    16.790001
16    17.100000
17    17.299999
18    16.299999
19    16.459999
Name: Open, dtype: float64

In [6]:
## 3. Postfix/prefix on index

h = s.head(5)
h.add_prefix('Prefix')
h.add_suffix('Postfix')

0Postfix    16.770000
1Postfix    17.100000
2Postfix    17.059999
3Postfix    16.900000
4Postfix    16.969999
Name: Open, dtype: float64

## Series  - IV: Label Indexing

In [7]:
temperature = [30, 31, 32, 33, 34, 32,]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun"]

In [8]:
print(pd.Series(data=temperature, index=months), '\n')
print(pd.Series(index=months, data=temperature))

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
dtype: int64

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
dtype: int64

## Series  - V: sort_value(), sort_index() & Inplace parameter 
```
1. sort_values()
2. inplace parameter
3. sort_index()
```

In [9]:
temperature = [30, 31, 32, 33, 34, 32,]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun"]
s1 = pd.Series(temperature, months)
s1

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
dtype: int64

In [10]:
# 1. sort_values()
print(s1.sort_values(), '\n')  # no permenent change
print(s1.sort_values(ascending=False))  # no permenent change, descending order

Jan    30
Feb    31
Mar    32
Jun    32
Apr    33
May    34
dtype: int64

May    34
Apr    33
Jun    32
Mar    32
Feb    31
Jan    30
dtype: int64

In [11]:
# 2. inplace parameter
s1.sort_values()
print(s1, '\n')
s1.sort_values(inplace=True)  # permanent modification
print(s1, '\n')

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
dtype: int64

Jan    30
Feb    31
Mar    32
Jun    32
Apr    33
May    34
dtype: int64

In [12]:
# 3. sort_index()
s1.sort_index() # permanent change
print(s1)

s1.sort_index(inplace=True) # permanent change
print(s1)

Jan    30
Feb    31
Mar    32
Jun    32
Apr    33
May    34
dtype: int64
Apr    33
Feb    31
Jan    30
Jun    32
Mar    32
May    34
dtype: int64

In [13]:
s1.sort_index(inplace=True) # permanent change
s1

Apr    33
Feb    31
Jan    30
Jun    32
Mar    32
May    34
dtype: int64

##  Series  - VI: Apply Python built in Function on Series

In [14]:
temperature = [30, 31, 32, 33, 34, 32,]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun"]
s1 = pd.Series(temperature, months)
s1

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
dtype: int64

In [15]:
# Built-in function
print(len(s1))
print(type(s1))
print(list(s1))
print(dict(s1))
print(sorted(s1))  # Just sort here not in heap)
print(max(s1))
print(min(s1))
print(sorted(s1)[-1])

6
<class 'pandas.core.series.Series'>
[30, 31, 32, 33, 34, 32]
{'Jan': 30, 'Feb': 31, 'Mar': 32, 'Apr': 33, 'May': 34, 'Jun': 32}
[30, 31, 32, 32, 33, 34]
34
30
34

##  Series  - VII: Extract Value from Series

In [16]:
temperature = [30, 31, 32, 33, 34, 32,]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun"]
s1 = pd.Series(temperature, months)
s1

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
dtype: int64

In [17]:
# Extract values from pandas series
print(s1[0], "\n")
print(s1[2:9], "\n")
print(s1[[3,5,1]], "\n")
print(s1[-1], "\n")
print(s1[['Jan','Feb','Mar']], "\n")

30

Mar    32
Apr    33
May    34
Jun    32
dtype: int64

Apr    33
Jun    32
Feb    31
dtype: int64

32

Jan    30
Feb    31
Mar    32
dtype: int64

##  Series  - VIII: .value_counts() Method
```
1. nuniques()
2. values_counts()
```

In [18]:
s1 = pd.Series(['Male', 'Female','Male','Female', 'Female', 'Female','Male','Female','Male','Female','Male','Female'])
s1

0       Male
1     Female
2       Male
3     Female
4     Female
5     Female
6       Male
7     Female
8       Male
9     Female
10      Male
11    Female
dtype: object

In [19]:
# 1. nuniques()
# 2. values_counts()
print(s1.nunique())
print(s1.value_counts())

2
Female    7
Male      5
dtype: int64

##  Series  - IX: .apply() and .map() method
```
1. .apply()
2. .map()
```

In [20]:
temperature = [30, 31, 32, 33, 34, 32,]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun"]
s1 = pd.Series(temperature, months)
s1   # temp in centigrade

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
dtype: int64

In [21]:
# 1. apply() 
def convertTemp(C):
    '''Converting centigrade to fahrenhiet'''
    return ((C * 1.8) + 32)

print(s1.apply(convertTemp), '\n') # Converting temp into Fahrenhiet of every single element
print(s1)

Jan    86.0
Feb    87.8
Mar    89.6
Apr    91.4
May    93.2
Jun    89.6
dtype: float64

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
dtype: int64

In [22]:
# 2. .map()
mapobj = {30 : 300, 31 : 310, 32 : 40, 34 : 100}

s1.map(mapobj)    # maping with org values
print(s1)

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
dtype: int64